// colors
$bodyColor: #f0f2f5;
$headerColor: linear-gradient(to bottom, #cf2b4f, #980021 130%);
$cardColor: #fff;
$blackColor: #1a1c1e;

//dark colors
$bodyColorDark: #111418;
$headerColorDark: linear-gradient(to bottom, #550d1d, #1a0106 130%);
$cardColorDark: #191d20;

// transactions colors
$incomeColor: #12a454;
$expenseColor: rgb(190, 52, 52);
