@use '../helpers/variables' as var;

#main {
  #balance {
    margin-top: -8rem;
  }

  #transactions {
    display: block;
    overflow-x: auto;

    .transactions__table {
      color: #a5a1a1;
      border-spacing: 0 0.5rem;
      width: 100%;

      thead {
        tr {
          th {
            background: #fff;
            text-align: left;
            font-weight: normal;
            padding: 1rem 2rem;

            &:first-child {
              border-radius: 0.25rem 0 0 0.25rem;
            }

            &:last-child {
              border-radius: 0 0.25rem 0.25rem 0;
            }
          }
        }
      }

      tbody {
        tr {
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }

          td {
            background-color: #fff;
            padding: 1rem 2rem;

            &:first-child {
              border-radius: 0.25rem 0 0 0.25rem;
            }

            &:last-child {
              border-radius: 0 0.25rem 0.25rem 0;
            }

            &.description {
              color: var.$blackColor;
            }

            &.income {
              color: var.$incomeColor;
            }

            &.expense,
            &.minus {
              color: var.$expenseColor;
            }

            &.edit,
            &.minus {
              font-size: 1.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
